---
layout: ../layouts/MainLayout.astro
---

<h1>Bienvenido a la API de Gestión de Bancos</h1>
<p>Esta es la página de inicio del sistema de reservas web. Aquí puedes encontrar enlaces a las diferentes secciones de la aplicación.</p>

<nav>
    <ul>
        <li><a href="/bancos">Ver Bancos</a></li>
    </ul>
</nav>